# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.sqlite3
*.log
staticfiles/
media/

# Virtual environment
venv/
env/

# VS Code
.vscode/

# Mac system files
.DS_Store

# Migrations (optional)
moodapp/migrations/
